BasesXML/Membres par GTC.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:od="urn:schemas-microsoft-com:officedata">
<xsd:element name="dataroot">
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="Membres_x0020_par_x0020_GTC" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute name="generated" type="xsd:dateTime"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="Membres_x0020_par_x0020_GTC">
<xsd:annotation>
<xsd:appinfo>
<od:index index-name="Membres par GTCRéfGTC" index-key="RéfGTC " primary="no" unique="no" clustered="no" order="asc"/>
<od:index index-name="PrimaryKey" index-key="RéfGTC RéfMembres " primary="yes" unique="yes" clustered="no" order="asc asc"/>
<od:tableProperty name="Orientation" type="2" value="0"/>
<od:tableProperty name="OrderByOn" type="1" value="0"/>
<od:tableProperty name="DefaultView" type="2" value="2"/>
<od:tableProperty name="GUID" type="9" value="3m2dT3zIaUOdgk2gmtUUjQ==
"/>
<od:tableProperty name="NameMap" type="11" value="CswOVQAAAADebZ1PfMhpQ52CTaCa1RSNAAAAANVDDewSHeNAAAAAAAAAAABNAGUA
bQBiAHIAZQBzACAAcABhAHIAIABHAFQAQwAAAAAAAAAVR3NEuiD/SJK62L/kpVG7
BwAAAN5tnU98yGlDnYJNoJrVFI1SAOkAZgBNAGUAbQBiAHIAZQBzAEcAVABDAAAA
AAAAAHFmAtmoRNJGtDkbmnMvCmsHAAAA3m2dT3zIaUOdgk2gmtUUjVIA6QBmAEcA
VABDAAAAAAAAAOmSUFxidrlKg7v8E5ie0iMHAAAA3m2dT3zIaUOdgk2gmtUUjVIA
6QBmAE0AZQBtAGIAcgBlAHMAAAAAAAAAq680OWp/okGGmMxWjPQODAAAAABrXjcR
FCDjQAAAAAAAAAAATQBlAG0AYgByAGUAcwAAAAAAAAAk8NfI1ZYzSJ/hshrJB/2/
BwAAAKuvNDlqf6JBhpjMVoz0DgxSAOkAZgBNAGUAbQBiAHIAZQAAAAAAAABdM/7B
EVV3TKisgQPJJVtbBwAAAKuvNDlqf6JBhpjMVoz0DgxOAG8AbQAAAAAAAAAq+iHW
LDTCRL7sriZVNtXSBwAAAN5tnU98yGlDnYJNoJrVFI1SAOkAZgDpAHIAZQBuAHQA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAwAAAACAAAAAAAAAAAAAAAAAAAAAAA=
"/>
</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RéfMembresGTC" minOccurs="1" od:jetType="autonumber" od:sqlSType="int" od:autoUnique="yes" od:nonNullable="yes" type="xsd:int">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="ColumnWidth" type="3" value="-1"/>
<od:fieldProperty name="ColumnOrder" type="3" value="0"/>
<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
<od:fieldProperty name="GUID" type="9" value="FUdzRLog/0iSuti/5KVRuw==
"/>
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RéfGTC" minOccurs="0" od:jetType="longinteger" od:sqlSType="int" type="xsd:int">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="ColumnWidth" type="3" value="-1"/>
<od:fieldProperty name="ColumnOrder" type="3" value="0"/>
<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
<od:fieldProperty name="DecimalPlaces" type="2" value="255"/>
<od:fieldProperty name="DefaultValue" type="12" value="0"/>
<od:fieldProperty name="Required" type="1" value="0"/>
<od:fieldProperty name="DisplayControl" type="3" value="109"/>
<od:fieldProperty name="GUID" type="9" value="cWYC2ahE0ka0ORuacy8Kaw==
"/>
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RéfMembres" minOccurs="0" od:jetType="longinteger" od:sqlSType="int" type="xsd:int">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="ColumnWidth" type="3" value="-1"/>
<od:fieldProperty name="ColumnOrder" type="3" value="0"/>
<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
<od:fieldProperty name="DecimalPlaces" type="2" value="255"/>
<od:fieldProperty name="DefaultValue" type="12" value="0"/>
<od:fieldProperty name="Required" type="1" value="0"/>
<od:fieldProperty name="DisplayControl" type="3" value="109"/>
<od:fieldProperty name="GUID" type="9" value="6ZJQXGJ2uUqDu/wTmJ7SIw==
"/>
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="Référent" minOccurs="0" od:jetType="longinteger" od:sqlSType="int" type="xsd:int">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="ColumnWidth" type="3" value="-1"/>
<od:fieldProperty name="ColumnOrder" type="3" value="0"/>
<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
<od:fieldProperty name="DecimalPlaces" type="2" value="255"/>
<od:fieldProperty name="DefaultValue" type="12" value="0"/>
<od:fieldProperty name="Required" type="1" value="0"/>
<od:fieldProperty name="DisplayControl" type="3" value="111"/>
<od:fieldProperty name="RowSourceType" type="10" value="Table/Query"/>
<od:fieldProperty name="RowSource" type="12" value="SELECT Membres.RéfMembre, Membres.Nom FROM Membres ORDER BY [Nom]; "/>
<od:fieldProperty name="BoundColumn" type="3" value="1"/>
<od:fieldProperty name="ColumnCount" type="3" value="2"/>
<od:fieldProperty name="ColumnHeads" type="1" value="0"/>
<od:fieldProperty name="ColumnWidths" type="10" value="0;1440"/>
<od:fieldProperty name="ListRows" type="3" value="8"/>
<od:fieldProperty name="ListWidth" type="10" value="1440twip"/>
<od:fieldProperty name="LimitToList" type="1" value="1"/>
<od:fieldProperty name="GUID" type="9" value="Kvoh1iw0wkS+7K4mVTbV0g==
"/>
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
