BasesXML/Petitions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:od="urn:schemas-microsoft-com:officedata">
<xsd:element name="dataroot">
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="Pétitions" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute name="generated" type="xsd:dateTime"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="Pétitions">
<xsd:annotation>
<xsd:appinfo>
<od:index index-name="PétitionsRéfMembre" index-key="RéfMembre " primary="no" unique="no" clustered="no" order="asc"/>
<od:index index-name="PrimaryKey" index-key="RéfPétition " primary="yes" unique="yes" clustered="no" order="asc"/>
<od:tableProperty name="Orientation" type="2" value="0"/>
<od:tableProperty name="OrderByOn" type="1" value="0"/>
<od:tableProperty name="DefaultView" type="2" value="2"/>
<od:tableProperty name="NameMap" type="11" value="CswOVQAAAAB0p3g9ss22Tb/+yMz25St+AAAAABltBl4rEONAAAAAAAAAAABQAOkA
dABpAHQAaQBvAG4AcwAAAAAAAAA2shmH8UNzRoIttE3LrOYFBwAAAHSneD2yzbZN
v/7IzPblK35SAOkAZgBQAOkAdABpAHQAaQBvAG4AAAAAAAAAYeloSPjQQUWVeUv8
ie1MoAcAAAB0p3g9ss22Tb/+yMz25St+UgDpAGYATQBlAG0AYgByAGUAAAAAAAAA
5036NegfEEa51PzRq9llqAcAAAB0p3g9ss22Tb/+yMz25St+VABoAOgAbQBlACAA
UADpAHQAaQB0AGkAbwBuAAAAAAAAAN7XDwxYxktEnE1yPZNT/IYHAAAAdKd4PbLN
tk2//sjM9uUrfkEAbgBuAOkAZQAAAAAAAAAelTsBtYXFT5ifL/5aQ1BWBwAAAHSn
eD2yzbZNv/7IzPblK35BAHUAIABNAGEAaQByAGUAAAAAAAAAW0N+foaPOEeXlwfF
mleoHgcAAAB0p3g9ss22Tb/+yMz25St+QQB1ACAARADpAHAAdQB0AOkAAAAAAAAA
mEwL4/NIbE6vqvnX31j6kgcAAAB0p3g9ss22Tb/+yMz25St+QQB1ACAARADpAHAA
dQB0AOkAIABFAHUAcgBvAHAA6QBlAG4AAAAAAAAAajHod1+dBkSRrF/BYJFl4AcA
AAB0p3g9ss22Tb/+yMz25St+QQB1ACAAUAByAOkAcwBpAGQAZQBuAHQAIABkAHUA
IABQAGEAcgBsAHQAIABFAHUAcgBvAHAA6QBlAG4AAAAAAAAAhnDYDdUWJUOrQRde
bkDDhQcAAAB0p3g9ss22Tb/+yMz25St+QQB1ACAAUAByAOkAcwBpAGQAZQBuAHQA
IABkAGUAIABsAGEAIABSAEYAAAAAAAAADlRaH9rgXkC/YRJ/8JQwVgcAAAB0p3g9
ss22Tb/+yMz25St+UwBpAHQAZQAgAEkAbgB0AGUAcgBuAGUAdAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAADAAAAAIAAAAAAAAAAAAAAAAAAAAAAA==
"/>
<od:tableProperty name="GUID" type="9" value="dKd4PbLNtk2//sjM9uUrfg==
"/>
</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RéfPétition" minOccurs="1" od:jetType="autonumber" od:sqlSType="int" od:autoUnique="yes" od:nonNullable="yes" type="xsd:int">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="ColumnWidth" type="3" value="-1"/>
<od:fieldProperty name="ColumnOrder" type="3" value="0"/>
<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
<od:fieldProperty name="GUID" type="9" value="CNnRwYoxWEy6uAKgLs6oKA==
"/>
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="RéfMembre" minOccurs="0" od:jetType="longinteger" od:sqlSType="int" type="xsd:int">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="ColumnWidth" type="3" value="-1"/>
<od:fieldProperty name="ColumnOrder" type="3" value="0"/>
<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
<od:fieldProperty name="DecimalPlaces" type="2" value="255"/>
<od:fieldProperty name="DefaultValue" type="12" value="0"/>
<od:fieldProperty name="Required" type="1" value="0"/>
<od:fieldProperty name="DisplayControl" type="3" value="109"/>
<od:fieldProperty name="GUID" type="9" value="SfU7H8522UuHAt/eSly9eg==
"/>
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="Thème_x0020_Pétition" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="ColumnWidth" type="3" value="-1"/>
<od:fieldProperty name="ColumnOrder" type="3" value="0"/>
<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
<od:fieldProperty name="Required" type="1" value="0"/>
<od:fieldProperty name="AllowZeroLength" type="1" value="1"/>
<od:fieldProperty name="DisplayControl" type="3" value="111"/>
<od:fieldProperty name="RowSourceType" type="10" value="Value List"/>
<od:fieldProperty name="RowSource" type="12" value="&quot;Désarmement Nucléaire&quot;;&quot;Carte Campagne Désarmement Nucléaire&quot;;&quot;Budget de la Défense Nationale&quot;;&quot;L&apos;Europe pour la Paix&quot;;&quot;Irak&quot;;&quot;Proche Orient&quot;;&quot;Le Mouvement de la Paix condamne&quot;;&quot;Votation Citoyenne&quot;"/>
<od:fieldProperty name="BoundColumn" type="3" value="1"/>
<od:fieldProperty name="ColumnCount" type="3" value="1"/>
<od:fieldProperty name="ColumnHeads" type="1" value="0"/>
<od:fieldProperty name="ColumnWidths" type="10" value="3030"/>
<od:fieldProperty name="ListRows" type="3" value="8"/>
<od:fieldProperty name="ListWidth" type="10" value="3030twip"/>
<od:fieldProperty name="LimitToList" type="1" value="1"/>
<od:fieldProperty name="IMEMode" type="2" value="0"/>
<od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
<od:fieldProperty name="UnicodeCompression" type="1" value="0"/>
<od:fieldProperty name="GUID" type="9" value="lhU1Rc9VUEGDgrtgINLTEw==
"/>
</xsd:appinfo>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="50"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="Année" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="ColumnWidth" type="3" value="-1"/>
<od:fieldProperty name="ColumnOrder" type="3" value="0"/>
<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
<od:fieldProperty name="Required" type="1" value="0"/>
<od:fieldProperty name="AllowZeroLength" type="1" value="1"/>
<od:fieldProperty name="DisplayControl" type="3" value="109"/>
<od:fieldProperty name="IMEMode" type="2" value="0"/>
<od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
<od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
<od:fieldProperty name="GUID" type="9" value="jDs39V1PY0eWV4Ef5FS5Sg==
"/>
</xsd:appinfo>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="4"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="Au_x0020_Maire" minOccurs="1" od:jetType="yesno" od:sqlSType="bit" od:nonNullable="yes" type="xsd:boolean">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="ColumnWidth" type="3" value="-1"/>
<od:fieldProperty name="ColumnOrder" type="3" value="0"/>
<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
<od:fieldProperty name="Format" type="10" value="Yes/No"/>
<od:fieldProperty name="Required" type="1" value="0"/>
<od:fieldProperty name="DisplayControl" type="3" value="106"/>
<od:fieldProperty name="GUID" type="9" value="1zuTTfzBCEiTaeXZfsQ2tg==
"/>
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="Au_x0020_Député" minOccurs="1" od:jetType="yesno" od:sqlSType="bit" od:nonNullable="yes" type="xsd:boolean">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="ColumnWidth" type="3" value="-1"/>
<od:fieldProperty name="ColumnOrder" type="3" value="0"/>
<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
<od:fieldProperty name="Format" type="10" value="Yes/No"/>
<od:fieldProperty name="Required" type="1" value="0"/>
<od:fieldProperty name="DisplayControl" type="3" value="106"/>
<od:fieldProperty name="GUID" type="9" value="kUcjyEeh/EaXuVMkNM6CMw==
"/>
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="Au_x0020_Député_x0020_Européen" minOccurs="1" od:jetType="yesno" od:sqlSType="bit" od:nonNullable="yes" type="xsd:boolean">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="ColumnWidth" type="3" value="-1"/>
<od:fieldProperty name="ColumnOrder" type="3" value="0"/>
<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
<od:fieldProperty name="Format" type="10" value="Yes/No"/>
<od:fieldProperty name="Required" type="1" value="0"/>
<od:fieldProperty name="DisplayControl" type="3" value="106"/>
<od:fieldProperty name="GUID" type="9" value="rsKeeO6UmUC1v6Ua4UoBuw==
"/>
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="Au_x0020_Président_x0020_du_x0020_Parlt_x0020_Européen" minOccurs="1" od:jetType="yesno" od:sqlSType="bit" od:nonNullable="yes" type="xsd:boolean">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="ColumnWidth" type="3" value="-1"/>
<od:fieldProperty name="ColumnOrder" type="3" value="0"/>
<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
<od:fieldProperty name="Format" type="10" value="Yes/No"/>
<od:fieldProperty name="Required" type="1" value="0"/>
<od:fieldProperty name="DisplayControl" type="3" value="106"/>
<od:fieldProperty name="GUID" type="9" value="pdfx5WcVCUadk36WkPv42A==
"/>
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="Au_x0020_Président_x0020_de_x0020_la_x0020_RF" minOccurs="1" od:jetType="yesno" od:sqlSType="bit" od:nonNullable="yes" type="xsd:boolean">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="ColumnWidth" type="3" value="-1"/>
<od:fieldProperty name="ColumnOrder" type="3" value="0"/>
<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
<od:fieldProperty name="Format" type="10" value="Yes/No"/>
<od:fieldProperty name="Required" type="1" value="0"/>
<od:fieldProperty name="DisplayControl" type="3" value="106"/>
<od:fieldProperty name="GUID" type="9" value="3+34Housi0et9Pj3fTe7XA==
"/>
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="Site_x0020_Internet" minOccurs="1" od:jetType="yesno" od:sqlSType="bit" od:nonNullable="yes" type="xsd:boolean">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="ColumnWidth" type="3" value="-1"/>
<od:fieldProperty name="ColumnOrder" type="3" value="0"/>
<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
<od:fieldProperty name="Format" type="10" value="Yes/No"/>
<od:fieldProperty name="Required" type="1" value="0"/>
<od:fieldProperty name="DisplayControl" type="3" value="106"/>
<od:fieldProperty name="GUID" type="9" value="owKFs+cIp0WquBIZgrfCJA==
"/>
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
