BasesXML/Éléments du Menu Général.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:od="urn:schemas-microsoft-com:officedata">
<xsd:element name="dataroot">
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="Éléments_x0020_du_x0020_Menu_x0020_Général" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute name="generated" type="xsd:dateTime"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="Éléments_x0020_du_x0020_Menu_x0020_Général">
<xsd:annotation>
<xsd:appinfo>
<od:index index-name="PrimaryKey" index-key="SwitchboardID ItemNumber " primary="yes" unique="yes" clustered="no" order="asc asc"/>
<od:tableProperty name="FilterOn" type="1" value="0"/>
<od:tableProperty name="OrderByOn" type="1" value="0"/>
<od:tableProperty name="GUID" type="9" value="B91oa7tFWU2Zn7ROsEueUQ==
"/>
<od:tableProperty name="Orientation" type="2" value="0"/>
<od:tableProperty name="NameMap" type="11" value="CswOVQAAAAAH3Whru0VZTZmftE6wS55RAAAAACjjLewSHeNAAAAAAAAAAADJAGwA
6QBtAGUAbgB0AHMAIABkAHUAIABNAGUAbgB1ACAARwDpAG4A6QByAGEAbAAAAAAA
AADFKkUgARBRSIRT0Il7gGGxBwAAAAfdaGu7RVlNmZ+0TrBLnlFTAHcAaQB0AGMA
aABiAG8AYQByAGQASQBEAAAAAAAAABuwhYecMR1BkPi8j2BqqlUHAAAAB91oa7tF
WU2Zn7ROsEueUUkAdABlAG0ATgB1AG0AYgBlAHIAAAAAAAAAdgbc1t0eoUGO4y0p
8/iQhgcAAAAH3Whru0VZTZmftE6wS55RSQB0AGUAbQBUAGUAeAB0AAAAAAAAAHgR
fK6MQXZGvzFXRpgJzs8HAAAAB91oa7tFWU2Zn7ROsEueUUMAbwBtAG0AYQBuAGQA
AAAAAAAAh4fmzw25sEWyRv4pPk6cnQcAAAAH3Whru0VZTZmftE6wS55RQQByAGcA
dQBtAGUAbgB0AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMAAAAAgAAAAAAAAAAAAAA
AAAAAAAA
"/>
<od:tableProperty name="DefaultView" type="2" value="2"/>
</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SwitchboardID" minOccurs="0" od:jetType="longinteger" od:sqlSType="int" type="xsd:int">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="ColumnWidth" type="3" value="-1"/>
<od:fieldProperty name="ColumnOrder" type="3" value="0"/>
<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
<od:fieldProperty name="DecimalPlaces" type="2" value="255"/>
<od:fieldProperty name="DefaultValue" type="12" value="0"/>
<od:fieldProperty name="Required" type="1" value="0"/>
<od:fieldProperty name="DisplayControl" type="3" value="109"/>
<od:fieldProperty name="GUID" type="9" value="xSpFIAEQUUiEU9CJe4BhsQ==
"/>
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ItemNumber" minOccurs="0" od:jetType="integer" od:sqlSType="smallint" type="xsd:short">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="ColumnWidth" type="3" value="-1"/>
<od:fieldProperty name="ColumnOrder" type="3" value="0"/>
<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
<od:fieldProperty name="DecimalPlaces" type="2" value="255"/>
<od:fieldProperty name="DefaultValue" type="12" value="0"/>
<od:fieldProperty name="Required" type="1" value="0"/>
<od:fieldProperty name="DisplayControl" type="3" value="109"/>
<od:fieldProperty name="FilterLookup" type="2" value="1"/>
<od:fieldProperty name="GUID" type="9" value="G7CFh5wxHUGQ+LyPYGqqVQ==
"/>
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="ItemText" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="ColumnWidth" type="3" value="5130"/>
<od:fieldProperty name="ColumnOrder" type="3" value="0"/>
<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
<od:fieldProperty name="Required" type="1" value="0"/>
<od:fieldProperty name="AllowZeroLength" type="1" value="0"/>
<od:fieldProperty name="DisplayControl" type="3" value="109"/>
<od:fieldProperty name="FilterLookup" type="2" value="1"/>
<od:fieldProperty name="GUID" type="9" value="dgbc1t0eoUGO4y0p8/iQhg==
"/>
<od:fieldProperty name="IMEMode" type="2" value="0"/>
<od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
<od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
</xsd:appinfo>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="255"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="Command" minOccurs="0" od:jetType="integer" od:sqlSType="smallint" type="xsd:short">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="ColumnWidth" type="3" value="-1"/>
<od:fieldProperty name="ColumnOrder" type="3" value="0"/>
<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
<od:fieldProperty name="DecimalPlaces" type="2" value="255"/>
<od:fieldProperty name="DefaultValue" type="12" value="0"/>
<od:fieldProperty name="Required" type="1" value="0"/>
<od:fieldProperty name="DisplayControl" type="3" value="109"/>
<od:fieldProperty name="FilterLookup" type="2" value="1"/>
<od:fieldProperty name="GUID" type="9" value="eBF8roxBdka/MVdGmAnOzw==
"/>
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="Argument" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="ColumnWidth" type="3" value="4425"/>
<od:fieldProperty name="ColumnOrder" type="3" value="0"/>
<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
<od:fieldProperty name="Required" type="1" value="0"/>
<od:fieldProperty name="AllowZeroLength" type="1" value="1"/>
<od:fieldProperty name="DisplayControl" type="3" value="109"/>
<od:fieldProperty name="FilterLookup" type="2" value="1"/>
<od:fieldProperty name="GUID" type="9" value="h4fmzw25sEWyRv4pPk6cnQ==
"/>
<od:fieldProperty name="IMEMode" type="2" value="0"/>
<od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
<od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
</xsd:appinfo>
</xsd:annotation>
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="50"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
